.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.header {
    background-color: lightgray;
}

.dice {
    text-align: center;
    display: inline-block;
    margin: 10px;
}

body {
    background-color: #042f4b;
    margin: 0;
}

h1 {
    margin: 30px;
    font-family:sans-serif;
    text-shadow: 5px 0 #232931;
    font-size: 4.5rem;
    color: #4ecca3;
    text-align: center;
}

p {
    font-size: 2rem;
    color: #4ecca3;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.img {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    position: relative;
    z-index: 1;
}

.bottom {
    padding-top: 30px;
}

button {
    background-color: blue;
    width: 200px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid yellow;
    color: white;
    cursor: pointer;
  }

.butn:hover {
    background: #232931;
    text-decoration: none;
}